<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );

?>
<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>
<div class= "row">
    <div class="tab-content">
        <div class="tab-pane active" id="demo">

            <?php if($this->options != 'all'){ ?>

                <div id="carousel-notifications" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class='carousel-inner'>


                        <?php foreach($this->html as $key => $html):
                            echo $html;
                        endforeach; ?>

                    </div>
                </div>
            <?php }else{ ?>
                <table class="table demo table-hover" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">

                    <thead>

                        <tr>
                            <th><?php echo $this->translate('Sender');?></th>
                            <th><?php echo $this->translate('Notification');?></th>
                            <th data-sort-ignore="true"><?php echo $this->translate('Date');?></th>
                            <th colspan="2" class="text-center" data-sort-ignore="true"><?php echo $this->translate('Actions');?></th>
                        </tr>
                    </thead>
                    <tbody>

                        <?php if( $this->notifications ) :
                            foreach ($this->notifications as $key => $notification):
                              if(!@$notification->id && $notification->_id){
                                $notification->id = $notification->_id;
                              }
                              ?>

                                <tr>
                                    <?php if($notification->status == 'read'){?>
                                        <td> <?php echo $notification->from ?> </td>
                                        <td> <?php echo $notification->title ." - ". substr($notification->message, 0,30)."..." ?> </td>
                                        <td> <?php echo date("d/m/Y G:i:s", strtotime($notification->creation_date)) ?> </td>
                                    <?php }else{?>
                                        <td class="bold"> <?php echo $notification->from ?> </td>
                                        <td class="bold"> <?php echo $notification->title ." - ". substr($notification->message, 0,30)."..." ?> </td>
                                        <td class="bold"> <?php echo date("d/m/Y G:i:s", strtotime($notification->creation_date)) ?> </td>
                                    <?php } ?>
                                    <td class="text-center">
                                        <a class="btn btn-add btn-sm"  href="<?php echo $this->url ?>?id=<?php echo $notification->id ?>" role="button"><?php echo $this->translate('Click to visualize')?>
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="<?php echo $this->url ?>/remove/id/<?php echo $notification->id ?>" role="button"><?php echo $this->translate('Delete')?></a>
                                    </td>
                                </tr>
                            <?php endforeach ?>
                        <?php endif?>

                    </tbody>
                    <tfoot>
                        <tr>

                            <td colspan="6">
                                <div class="paging">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>

                        </tr>
                    </tfoot>
                </table>
            <?php } ?>
            <br>
        </div>
    </div>
</div> <!-- /.row -->

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault();
        });
    });
</script>
