<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );

$this->headScript()->appendFile($this->baseUrl() .  "/includes/javascript/snep.js");
$this->headScript()->appendFile($this->baseUrl() .  '/includes/javascript/registrations.js');
$this->headScript()->appendFile($this->baseUrl() . '/includes/javascript/removeItem.js');

header("Expires: Mon, 26 Jul 1997 05:00:00 GMT");
header("Cache-Control: no-cache");
header("Pragma: no-cache");
header('Cache-Control: max-age=0' );
?>

<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/jquery.bootpag.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/simpleplayer.js" type="text/javascript"></script>

<div class="row">

  <div class="tab-content">
    <div class="tab-pane active" id="demo">
      <!-- Analytic Report -->
      <?php if($this->call_list['report_type'] != 'synthetic'){ ?>
        <form id="defaultForm" method="post" class="form-horizontal" style="margin-top: 20px;" action="<?php echo $this->url(array("controller" => "calls-report", "action" => "view"), null, false); ?>" METHOD="post">
          <div class="snep-body-top-buttons">
            <a class="btn btn-add" href="<?php echo $this->url ?>/csv/ " role="button"><?php echo $this->translate("CSV")?></a>
            <div class="snep-body-search">
              <?php echo $this->translate("Search")?>
              <a class="filter"><input id="filter" type="text"/></a>
              <br>
            </div>
          </div>
          <table class="table demo table-hover" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">
            <thead>
              <tr>
                <th><?php echo $this->translate("Call date") ?></th>
                <th class="text-center"><?php echo $this->translate("Source") ?></th>
                <th class="text-center"><?php echo $this->translate("Destination") ?></th>
                <th class="text-center"><?php echo $this->translate("Status") ?></th>
                <th data-hide="phone,tablet" class="text-center"><?php echo $this->translate("Duration") ?></th>
                <th data-hide="phone,tablet" class="text-center"><?php echo $this->translate("Conversation") ?></th>
                <th data-hide="phone,tablet"><?php echo $this->translate("Tag") ?></th>

                <?php if($this->locale){ ?>
                  <th data-hide="phone,tablet" class="text-center"><?php echo $this->translate("City");?> - <?php echo $this->translate("State");?></th>
                  <?php } ?>
                  <?php if($this->record){ ?>
                    <th colspan="2" class="text-center" data-sort-ignore="true"><?php echo $this->translate("Call Record") ?></th>
                  <?php } ?>
                  <?php if($this->bill){ ?>
                    <th colspan="2" class="text-center" data-sort-ignore="true"><?php echo $this->translate("Billing") ?></th>
                  <?php } ?>
                </tr>
              </thead>

              <tbody>
                <?php
                $contline = ($this->page * $this->lineNumber - $this->lineNumber+1);
                foreach( $this->call_list as $id => $callsList ): ?>
                <?php if($id != "status" && $id != "totals" && $id != 'report_type'){ ?>
                  <tr>
                    <td class="text-center"><?php echo $callsList->dia; ?></td>
                    <td class="text-center">
                      <?php if(!$this->replace){
                        echo $callsList->src;
                      }else{
                        echo $callsList->src_name;
                      }?>
                    </td>
                    <td class="text-center">
                      <?php if(!$this->replace){
                        echo $callsList->dst;
                      }else{
                        echo $callsList->dst_name;
                      }?>
                    </td>
                    <td class="text-center"><h4><span class="<?php echo $callsList->class;?>"><?php echo $this->translate($callsList->disposition); ?></span></h4></td>
                    <td class="text-center"><?php echo $callsList->duration; ?></td>
                    <td class="text-center"><?php echo $callsList->billsec; ?></td>
                    <td><?php echo $callsList->nome; ?></td>

                    <?php if($this->locale){ ?>
                      <td><?php echo $callsList->city; ?></td>
                    <?php } ?>

                    <?php if($this->record){ ?>
                      <?php if ($callsList->userfield != ""): ?>
                        <?php if ($callsList->file_path != 'N.D.'): ?>
                          <td class="text-center sound-file-player">
                            <audio  class="player" src='<?php echo $callsList->file_path ?>' type="audio/x-wav"  title="<?php echo $this->translate('Listen');?>" preload="none">
                              <?php echo $this->translate('Your browser does not support the audio element.') ?>
                            </audio>
                          </td>
                          <td class="text-center">
                            <a class="btn btn-down" href="<?php echo $callsList->file_name; ?>" download="<?php echo $callsList->userfield . ".wav"; ?>" role="button" title="Download">
                              <span class="glyphicon glyphicon-download"></span>
                            </a>
                          </td>
                        <?php else: ?>
                          <td colspan="2" class="text-center">
                            <span class="sn-sound-off snep-list-sounds"></span>
                          </td>
                        <?php endif ?>
                      <?php endif ?>
                    <?php } ?>
                    <?php if($this->bill){ ?>
                      <td colspan="2" class="text-center"><?php echo $callsList->price; ?></td>
                      <?php } ?>
                  </tr>
                <?php } ?>
                <?php
                $contline++;
                endforeach ?>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="11">
                    <div class="paging paginate"></div>
                  </td>
                </tr>
              </tfoot>
            </table>

            <!-- <table class="table table-bordered">
              <tr class="header_table_info">
                <td><?php echo $this->translate("Subtotal"); ?>: <?php echo $this->totals->TOTALS;?></td>
                <td><?php echo $this->translate("Answered");?>: <?php echo $this->totals->ANSWERED;?></td>
                <td><?php echo $this->translate("Not Answered"); ?>: <?php echo $this->totals->NOANSWER;?></td>
                <td><?php echo $this->translate("Busy");?>: <?php echo $this->totals->BUSY;?></td>
                <td><?php echo $this->translate("Failed");?>: <?php echo $this->totals->FAILED;?></td>
              </tr>
            </table><br> -->

          </form>
        <?php }else{?>    <!-- Syntetic report -->

          <div class="table-responsive">
            <div class="col-sm-5">
              <div class="panel panel-default">
                <div class="panel-heading text-center"><?php echo $this->translate("Type Call") ?></div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th data-sort-ignore="true" class="text-center"><?php echo $this->translate("Incoming") ?></th>
                      <th data-sort-ignore="true" class="text-center"><?php echo $this->translate("Outgoing") ?></th>
                      <th data-sort-ignore="true" class="text-center"><?php echo $this->translate("Other") ?></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center"><?php echo $this->type->E; ?></td>
                      <td class="text-center"><?php echo $this->type->S; ?></td>
                      <td class="text-center"><?php echo $this->type->O; ?></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="panel panel-default">
                <div class="panel-heading text-center"><?php echo $this->translate("Status Call") ?></div>

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th data-sort-ignore="true" class="text-center" ><?php echo $this->translate("Answered") ?></th>
                      <th data-sort-ignore="true" class="text-center"><?php echo $this->translate("Not Answered") ?></th>
                      <th data-sort-ignore="true" class="text-center"><?php echo $this->translate("Busy") ?></th>
                      <th data-sort-ignore="true" class="text-center"><?php echo $this->translate("Failed") ?></th>
                      <th data-sort-ignore="true" class="text-center"><?php echo $this->translate("Totals") ?></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center"><?php echo $this->totals->ANSWERED; ?></td>
                      <td class="text-center"><?php echo $this->totals->NOANSWER; ?></td>
                      <td class="text-center"><?php echo $this->totals->BUSY; ?></td>
                      <td class="text-center"><?php echo $this->totals->FAILED; ?></td>
                      <td class="text-center"><?php echo $this->totals->TOTALS; ?></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-sm-5">
              <div class="panel panel-default">
                <div class="panel-heading text-center"><?php echo $this->translate("Costs Center Call") ?></div>
                <table class="table table-striped tabl-hover">
                  <thead>
                    <tr>
                      <th ><?php echo $this->translate("Tag") ?></th>
                      <th class="text-center" data-type="numeric"><?php echo $this->translate("Quantity") ?></th>
                    </tr>
                  </thead>
                  <tbody>
                    <?php foreach($this->ccustos as $key => $value){?>
                      <tr>
                        <td ><?php echo $key; ?></td>
                        <td class="text-center"><?php echo $value; ?></td>
                      </tr>
                      <?php } ?>
                    </tbody>

                  </table>
                </div>
              </div>

              <div class="col-sm-7">
                <div class="panel panel-default">
                  <div class="panel-heading text-center"><?php echo $this->translate("Status by Period") ?></div>
                  <table class="table table-striped tabl-hover">
                    <thead>
                      <tr>
                        <th class="text-center"><?php echo $this->translate("Date") ?></th>
                        <th class="text-center" data-type="numeric"><?php echo $this->translate("Answered") ?></th>
                        <th class="text-center" data-type="numeric"><?php echo $this->translate("Not Answered") ?></th>
                        <th class="text-center" data-type="numeric"><?php echo $this->translate("Busy") ?></th>
                        <th class="text-center" data-type="numeric"><?php echo $this->translate("Failed") ?></th>
                        <th class="text-center" data-type="numeric"><?php echo $this->translate("Totals") ?></th>
                      </tr>
                    </thead>
                    <tbody>

                      <?php foreach($this->calldate as $date => $value){?>

                        <tr>
                          <td class="text-center"><?php echo $date; ?></td>
                          <td class="text-center"><?php echo (isset($value->ANSWERED)) ? $value->ANSWERED : 0 ;?></td>
                          <td class="text-center"><?php echo (isset($value->NOANSWER)) ? $value->NOANSWER : 0 ;?></td>
                          <td class="text-center"><?php echo (isset($value->BUSY)) ? $value->BUSY : 0 ;?></td>
                          <td class="text-center"><?php echo (isset($value->FAILED)) ? $value->FAILED : 0;?></td>
                          <td class="text-center"><?php echo (isset($value->TOTALS)) ? $value->TOTALS: 0; ?></td>
                        </tr>
                        <?php } ?>
                      </tbody>
                    </table>
                  </div>
                </div>

          </div>
          <!-- /.Syntetic -->
        <?php }?>
      </div>
    </div>
  </div> <!-- /.row -->

<script type="text/javascript">

jQuery.noConflict();
jQuery('.paginate').bootpag({
  total: '<?php echo $this->pagination ?>',
  pageprv: '<?php echo $this->pageprev?>',
  page: '<?php echo $this->page ?>',
  pagenxt: '<?php echo $this->pagenext?>',
  maxVisible: 5,
  leaps: true,
  firstLastUse: true,
  first: '<span aria-hidden="true">&larr;</span>',
  last: '<span aria-hidden="true">&rarr;</span>',
  wrapClass: 'pagination',
  activeClass: 'active',
  disabledClass: 'disabled',
  nextClass: 'next',
  prevClass: 'prev',
  lastClass: 'last',
  firstClass: 'first',
  pageurl: '<?php echo $this->url ?>'+'/view/page/',
  cont: '/cont/'+'<?php echo $this->cont ?>'
}).on("page", function(event, num){
  jQuery(".content4").html("Page " + num); // or some ajax content loading...
}).find('.pagination');
</script>

<script type="text/javascript">
jQuery.noConflict();
jQuery(function () {
  jQuery('table').footable().on('click', '.row', function(e) {
    e.preventDefault();
  });
});

jQuery(document).ready(function() {
  var settings = {
    progressbarWidth: '60px',
    progressbarHeight: '5px',
    progressbarColor: '#959595',
    progressbarBGColor: '#ebecee',
    defaultVolume: 0.8
  };
  jQuery(".player").player(settings);
});
</script>
